.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar, .irs-from .irs-to {
background: #428bca00;color:white;
}
  
.content-wrapper, .right-side {
background: rgb(0, 114, 138);
}

.box {
background: rgb(188, 218, 224);
border-radius: 5px;
box-shadow: 0px 1px 20px 0px rgb(0, 24, 29);
}


label{
color: rgb(255, 255, 255);
}

.selectize-input input {
background: rgb(79, 232, 211);
}
.irs-grid-text {
bottom: 5px;
color: #ffffff;
}

.skin-blue .main-header .navbar {
background: rgb(26, 72, 86);
box-shadow: 2px 2px 2px #e2e2e2;
}

.skin-blue .main-header .navbar .sidebar-toggle {
background: rgb(30, 83, 99);
color: rgb(208, 208, 208);
}

.form-control, .selectize-input, .selectize-control.single .selectize-input {
background: rgb(59, 236, 220);
color: rgb(0,0,0);
border-color: rgb(200,200,200);
border-radius: 5px;
height: 34px;
min-height: 34px;
padding: 6px 12px;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
background: rgb(59, 236, 220);
cursor: text;
display: inline-block;
}

.selectize-dropdown, .selectize-dropdown.form-control {
background: rgb(0,170,183);
border-radius: 4px;
}

.recalculating {opacity: 1.0;}

    /* Map */

div.outer {
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
  }

#controls {
    background-color:rgba(66, 177, 211, 0.767);
    padding: 0 20px 20px 20px;
    cursor: move;
    /* Fade out while not hovering */
    opacity: 0.5;
        /* Param to change for sage2 */

    zoom: 0.9;
    transition: opacity 1000ms 2ms;
  }
  #controls:hover {
    /* Fade in while hovering */
    opacity: 0.9;
    transition-delay: 0;
  }
  
  /* Position and style citation */
  #cite {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
  }
  
  /* If not using map tiles, show a white background */
  .leaflet-container {
    background-color: white !important;
  }